[data-split="words"] .line-mask {
  padding-block: 0.5rem;
  margin-block: -0.5rem;
}

/* hide page scrollbar */
html {
  scrollbar-width: none;
}

/* Firefox */
body {
  -ms-overflow-style: none;
}

/* IE and Edge */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
}

/* Chrome */
/* end hide page scrollbar */

img {
  -webkit-user-drag: none;
  /* Prevents dragging in Chrome/Safari/Edge */
  user-select: none;
  /* Prevents selection and helps in other browsers */
  -moz-user-select: none;
  /* Firefox specific */
  -ms-user-select: none;
  /* Legacy Internet Explorer/Edge */
}