@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --site--gutter: 1rem;
  --site--margin: clamp(1rem, 2.5vw, 3.75rem);
  --max-width--main: 120rem;
  --radius--main: 1rem;
  --_column-count---value: 12;
  --_spacing---space--1-1rem: 1rem;
  --_spacing---space--1-5-1-5rem-copy: 1.5rem;
  --_spacing---space--4-4rem: 4rem;
  --_ease-out-expo: cubic-bezier(0.625, 0.05, 0, 1);
  --swatch--beige-500: #fffefc;
  --swatch--brand-500: #4725b8;
  --swatch--yellow-500: #ffea00;
  --swatch--light-200: #ccc;
  --swatch--text: #333;
  --_typography---font-size--text-main: 1rem;
  --_typography---font-size--h3: 2.25rem;
  --font-family: Rubik, sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--swatch--beige-500);
  color: var(--swatch--text);
  font-family: var(--font-family);
  font-size: var(--_typography---font-size--text-main);
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}
