.g_nav_menu_button .g_nav_menu_button_line { transform: translate(0px, 0px) rotate(0.001deg); transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1); }
.g_nav_menu_button .g_nav_menu_button_line:nth-child(1) { transform: translate(0px, -0.45em) scale(1, 1) rotate(0.001deg); }
.g_nav_menu_button .g_nav_menu_button_line:nth-child(2) { transform: translate(0px, 0px) scale(0.75, 1) rotate(0.001deg); }
.g_nav_menu_button .g_nav_menu_button_line:nth-child(3) { transform: translate(0px, 0.45em) scale(0.5, 1) rotate(0.001deg); }
.g_nav_menu_button:hover .g_nav_menu_button_line:nth-child(1) { transform: translate(0px, -0.45em) scale(1, 1) rotate(0.001deg); }
.g_nav_menu_button:hover .g_nav_menu_button_line:nth-child(2) { transform: scale(1, 1) rotate(0.001deg); }
.g_nav_menu_button:hover .g_nav_menu_button_line:nth-child(3) { transform: translate(0px, 0.45em) scale(1, 1) rotate(0.001deg); }
[data-navigation-status="active"] .g_nav_menu_button_line:nth-child(1) { transform: translate(0px, 0px) rotate(45deg) scale(1, 1); }
[data-navigation-status="active"] .g_nav_menu_button_line:nth-child(2) { transform: translate(-150%, 0px) rotate(0.001deg) scale(1, 1); }
[data-navigation-status="active"] .g_nav_menu_button_line:nth-child(3) { transform: translate(0px, 0px) rotate(-45deg) scale(1, 1); }
[data-navigation-status="active"] .g_nav_menu_button:hover .g_nav_menu_button_line:nth-child(1) { transform: translate(0px, 0px) rotate(45deg) scale(0.7, 1); }
[data-navigation-status="active"] .g_nav_menu_button:hover .g_nav_menu_button_line:nth-child(2) { transform: translate(-150%, 0px) scale(0.7, 1); }
[data-navigation-status="active"] .g_nav_menu_button:hover .g_nav_menu_button_line:nth-child(3) { transform: translate(0px, 0px) rotate(-45deg) scale(0.7, 1); }
.bold-nav-full__tile { transition: clip-path 1s cubic-bezier(0.9, 0, 0.1, 1); clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%); }
[data-navigation-status="active"] .bold-nav-full__tile { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
.bold-nav-full__link { transform: translateY(100%) rotate(5deg); transition: transform 0.75s cubic-bezier(0.7, 0, 0.3, 1); }
.bold-nav-full__li:nth-child(1) .bold-nav-full__link { transition-delay: 0.2s; }
.bold-nav-full__li:nth-child(2) .bold-nav-full__link { transition-delay: 0.15s; }
.bold-nav-full__li:nth-child(3) .bold-nav-full__link { transition-delay: 0.1s; }
.bold-nav-full__li:nth-child(4) .bold-nav-full__link { transition-delay: 0.05s; }
.bold-nav-full__li:nth-child(5) .bold-nav-full__link { transition-delay: 0s; }
[data-navigation-status="active"] .bold-nav-full__link { transition: transform 1s cubic-bezier(0.381, 0, 0.03, 1.003) 0.3s; transform: translateY(0%) rotate(0.001deg); }
[data-navigation-status="active"] .bold-nav-full__li:nth-child(1) .bold-nav-full__link { transition-delay: 0.25s; }
[data-navigation-status="active"] .bold-nav-full__li:nth-child(2) .bold-nav-full__link { transition-delay: 0.3s; }
[data-navigation-status="active"] .bold-nav-full__li:nth-child(3) .bold-nav-full__link { transition-delay: 0.35s; }
[data-navigation-status="active"] .bold-nav-full__li:nth-child(4) .bold-nav-full__link { transition-delay: 0.4s; }
[data-navigation-status="active"] .bold-nav-full__li:nth-child(5) .bold-nav-full__link { transition-delay: 0.45s; }
@media (min-width: 768px) {
  .bold-nav-full__li { transition: opacity 0.75s cubic-bezier(0.16, 1, 0.3, 1); }
  .bold-nav-full__ul:has(.bold-nav-full__li:hover) .bold-nav-full__li { opacity: 0.15; }
  .bold-nav-full__ul:has(.bold-nav-full__li:hover) .bold-nav-full__li:hover { opacity: 1; }
  .bold-nav-full__link .bold-nav-full__link-text { transition: transform 0.75s cubic-bezier(0.16, 1, 0.3, 1); transform: translateY(0%) rotate(0.001deg); }
  .bold-nav-full__link:hover .bold-nav-full__link-text { transform: translateY(-115%) rotate(0.001deg); }
  .bold-nav-full__link.w--current .bold-nav-full__link-text { color: var(--swatch--yellow-500); }
  .bold-nav-full__link .button_icon { transform: translateX(-100%) translateY(0%) rotate(45deg); transition: transform 0.75s cubic-bezier(0.16, 1, 0.3, 1); }
  .bold-nav-full__link:hover .button_icon { transform: translateX(0%) translateY(0%) rotate(45deg); }
}